@import url(https://myfonts.ru/myfonts?fonts=lazurit-modern);
@font-face {
  font-family: 'Roboto';
  src: url("Roboto-BlackItalic.eot");
  src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url("Roboto-BlackItalic.eot?#iefix") format("embedded-opentype"), url("Roboto-BlackItalic.woff2") format("woff2"), url("Roboto-BlackItalic.woff") format("woff"), url("Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("Roboto-Bold.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"), url("Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("Roboto-Bold.woff2") format("woff2"), url("Roboto-Bold.woff") format("woff"), url("Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("Roboto-BoldItalic.eot");
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("Roboto-BoldItalic.eot?#iefix") format("embedded-opentype"), url("Roboto-BoldItalic.woff2") format("woff2"), url("Roboto-BoldItalic.woff") format("woff"), url("Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("Roboto-LightItalic.eot");
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url("Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("Roboto-LightItalic.woff2") format("woff2"), url("Roboto-LightItalic.woff") format("woff"), url("Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("Roboto-Regular.eot");
  src: local("Roboto"), local("Roboto-Regular"), url("Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular.woff2") format("woff2"), url("Roboto-Regular.woff") format("woff"), url("Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("Roboto-ThinItalic.eot");
  src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url("Roboto-ThinItalic.eot?#iefix") format("embedded-opentype"), url("Roboto-ThinItalic.woff2") format("woff2"), url("Roboto-ThinItalic.woff") format("woff"), url("Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("Roboto-Black.eot");
  src: local("Roboto Black"), local("Roboto-Black"), url("Roboto-Black.eot?#iefix") format("embedded-opentype"), url("Roboto-Black.woff2") format("woff2"), url("Roboto-Black.woff") format("woff"), url("Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("Roboto-MediumItalic.eot");
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("Roboto-MediumItalic.eot?#iefix") format("embedded-opentype"), url("Roboto-MediumItalic.woff2") format("woff2"), url("Roboto-MediumItalic.woff") format("woff"), url("Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("Roboto-Thin.eot");
  src: local("Roboto Thin"), local("Roboto-Thin"), url("Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("Roboto-Thin.woff2") format("woff2"), url("Roboto-Thin.woff") format("woff"), url("Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("Roboto-Light.eot");
  src: local("Roboto Light"), local("Roboto-Light"), url("Roboto-Light.eot?#iefix") format("embedded-opentype"), url("Roboto-Light.woff2") format("woff2"), url("Roboto-Light.woff") format("woff"), url("Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("Roboto-Italic.eot");
  src: local("Roboto Italic"), local("Roboto-Italic"), url("Roboto-Italic.eot?#iefix") format("embedded-opentype"), url("Roboto-Italic.woff2") format("woff2"), url("Roboto-Italic.woff") format("woff"), url("Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("Roboto-Medium.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"), url("Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("Roboto-Medium.woff2") format("woff2"), url("Roboto-Medium.woff") format("woff"), url("Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

body {
  background-image: url(/Scss/Images/bg.png);
}

.all {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  max-width: 1920px;
  width: 100%;
  height: 194px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-left: 15%;
}

@media (max-width: 1160px) {
  .header .header__logo {
    margin-left: 0%;
  }
}

@media (max-width: 1520px) {
  .header .header__logo img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 1160px) {
  .header .header__logo img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 410px) {
  .header .header__logo img {
    width: 100px;
    height: 100px;
  }
}

.header__nav {
  width: 45%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.header__button1 {
  width: 193px;
  color: white;
  height: 48px;
  border-radius: 32px;
  margin-right: 15%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.03em;
  background: #AB0000;
  border-radius: 8px;
  color: #FFFFFF;
}

@media (max-width: 1700px) {
  .header {
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 1700px) {
  .header__nav {
    font-size: 16px;
    width: 40%;
  }
}

@media (max-width: 1490px) {
  .header__nav {
    font-size: 13px;
  }
}

@media (max-width: 1160px) {
  .header__nav {
    display: none;
  }
}

.header__nav a {
  text-decoration: none;
  color: white;
}

.header__nav a:hover {
  color: red;
}

.modal__button {
  width: 193px;
  color: white;
  height: 48px;
  border-radius: 32px;
  margin-right: 15%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.03em;
  background: #AB0000;
  border-radius: 8px;
  color: #FFFFFF;
}

@media (max-width: 1700px) {
  .modal__button {
    width: 150px;
    height: 32px;
    font-size: 14px;
  }
}

@media (max-width: 1160px) {
  .modal__button {
    display: none;
  }
}

.modal__button:hover {
  opacity: 0.7;
}

.modal__button:active {
  opacity: 1.3;
}

.burger {
  display: none;
}

@media (max-width: 1160px) {
  .burger {
    display: block;
  }
}

@media (max-width: 1160px) {
  .burger img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 410px) {
  .burger img {
    width: 50px;
    height: 50px;
  }
}

.wrapper {
  max-width: 1920px;
  padding-bottom: 20%;
  background-image: url(/Scss/Images/fon.png);
  background-repeat: no-repeat;
}

.wrapper__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 25%;
}

@media (max-width: 1500px) {
  .wrapper .wrapper__main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
}

.wrapper__bigtxt {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 0.105em;
  color: #FFFFFF;
  margin-top: 12%;
}

@media (max-width: 980px) {
  .wrapper .wrapper__bigtxt {
    font-size: 40px;
  }
}

@media (max-width: 590px) {
  .wrapper .wrapper__bigtxt {
    font-size: 20px;
  }
}

.wrapper__smalltxt {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
  margin-top: 3%;
}

@media (max-width: 980px) {
  .wrapper .wrapper__smalltxt {
    font-size: 20px;
  }
}

@media (max-width: 590px) {
  .wrapper .wrapper__smalltxt {
    font-size: 15px;
  }
}

.wrapper__button2 {
  width: 441px;
  height: 82px;
  background: #AB0000;
  border-radius: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.145em;
  color: #FFFFFF;
  margin-top: 3%;
}

@media (max-width: 980px) {
  .wrapper .wrapper__button2 {
    width: 320px;
    height: 60px;
    font-size: 25px;
  }
}

@media (max-width: 590px) {
  .wrapper .wrapper__button2 {
    width: 200px;
    height: 40px;
    font-size: 17px;
    padding-bottom: 8%;
  }
}

.wrapper__button2:hover {
  opacity: 0.7;
}

.wrapper__button2:active {
  opacity: 1.3;
}

.about {
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.about__head {
  font-family: 'Lazurit Modern', arial;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 78px;
  letter-spacing: 0.24em;
  color: #FFFFFF;
  margin-top: 5%;
}

@media (max-width: 700px) {
  .about .about__head {
    font-size: 50px;
  }
}

@media (max-width: 320px) {
  .about .about__head {
    font-size: 35px;
  }
}

.about__figures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3%;
  background-color: rgba(255, 0, 0, 0.2);
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.08em;
  line-height: 70px;
  color: #FFFFFF;
  max-width: 800px;
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 8%;
  padding-right: 8%;
  border-radius: 15px;
}

@media (max-width: 1100px) {
  .about .about__figures {
    font-size: 20px;
    width: 70%;
  }
}

@media (max-width: 1100px) {
  .about .about__figures {
    font-size: 15px;
    width: 60%;
  }
}

@media (max-width: 570px) {
  .about .about__figures {
    font-size: 12px;
    width: 60%;
  }
}

@media (max-width: 400px) {
  .about .about__figures {
    font-size: 10px;
    width: 80%;
  }
}

.inf {
  margin-bottom: 2%;
}

.doing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5%;
}

.doing__head {
  font-family: 'Lazurit Modern';
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 78px;
  letter-spacing: 0.24em;
  color: #FFFFFF;
}

@media (max-width: 1100px) {
  .doing .doing__head {
    font-size: 60px;
  }
}

@media (max-width: 660px) {
  .doing .doing__head {
    font-size: 45px;
  }
}

@media (max-width: 420px) {
  .doing .doing__head {
    font-size: 30px;
  }
}

.doing__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3%;
}

@media (max-width: 1350px) {
  .doing .doing__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 530px) {
  .doing .doing__main div {
    width: 280px;
    border-width: 9px 8px 90px 8px;
  }
}

@media (max-width: 530px) {
  .doing .doing__main img {
    width: 280px;
  }
}

.doing__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #000000;
  border-width: 9px 8px 116px 8px;
  border-style: solid;
  border-color: #AC0808;
  margin: 30px;
  width: 365px;
  height: 350px;
}

.doing__text1 {
  font-family: 'Lazurit Modern';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 105.3%;
  letter-spacing: 0.12em;
  color: #FFFFFF;
  margin-top: 20%;
  text-align: center;
}

@media (max-width: 530px) {
  .doing .doing__text1 {
    margin-top: 43%;
  }
}

.doing__text2 {
  font-family: 'Lazurit Modern';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 105.3%;
  letter-spacing: 0.12em;
  color: #FFFFFF;
  margin-top: 18%;
  text-align: center;
}

@media (max-width: 530px) {
  .doing .doing__text2 {
    margin-top: 41%;
  }
}

.doing__text3 {
  font-family: 'Lazurit Modern';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 105.3%;
  letter-spacing: 0.12em;
  color: #FFFFFF;
  margin-top: 15%;
  text-align: center;
}

@media (max-width: 530px) {
  .doing .doing__text3 {
    margin-top: 37%;
  }
}

.doing__sc {
  margin-top: 5%;
}

.doing__vv {
  margin-top: 15%;
}

.programs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5%;
  background-color: black;
}

.programs__head {
  font-family: 'Lazurit Modern';
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 78px;
  letter-spacing: 0.24em;
  color: #FFFFFF;
  margin-top: 1.5%;
}

@media (max-width: 1040px) {
  .programs .programs__head {
    font-size: 30px;
  }
}

@media (max-width: 550px) {
  .programs .programs__head {
    font-size: 20px;
  }
}

@media (max-width: 370px) {
  .programs .programs__head {
    font-size: 15px;
  }
}

.programs__mainn {
  margin-top: 3%;
  max-width: 1380px;
  width: 100%;
  height: 150px;
  margin-bottom: 3%;
}

@media (max-width: 1040px) {
  .programs .programs__mainn {
    height: 100px;
  }
}

.programs__mainn img {
  width: 150px;
  height: 150px;
  margin-left: 5px;
  margin-right: 5px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1040px) {
  .programs__mainn img {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 370px) {
  .programs__mainn img {
    width: 40px;
    height: 40px;
  }
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7%;
}

.portfolio__head {
  font-family: 'Lazurit Modern';
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 78px;
  letter-spacing: 0.24em;
  color: #FFFFFF;
}

@media (max-width: 640px) {
  .portfolio .portfolio__head {
    font-size: 40px;
  }
}

@media (max-width: 400px) {
  .portfolio .portfolio__head {
    font-size: 20px;
  }
}

.tabs__nav {
  text-align: center;
  margin: auto;
}

@media (max-width: 640px) {
  .tabs__nav button {
    margin: 15px;
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .tabs__nav button {
    font-size: 15px;
    margin: 5px;
  }
}

.tabs-nav__item.is-active {
  color: white;
  font-family: 'Lazurit Modern';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 78px;
  letter-spacing: 0.24em;
  margin: 25px;
  background: none;
}

@media (max-width: 640px) {
  .tabs-nav__item.is-active {
    margin: 15px;
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .tabs-nav__item.is-active {
    font-size: 15px;
    margin: 5px;
  }
}

.tabs-nav__item {
  color: white;
  font-family: 'Lazurit Modern';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 78px;
  letter-spacing: 0.24em;
  background: none;
  margin: 25px;
  border: none;
}

.tabs-nav__item:hover {
  text-shadow: -3px -3px 30px #CB0000, 3px 3px 30px #980404;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1530px) {
  .top {
    width: 70%;
    margin: auto;
  }
}

@media (max-width: 1020px) {
  .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.top img {
  width: 250px;
  height: 250px;
}

@media (max-width: 1020px) {
  .top img {
    margin-top: 3%;
  }
}

@media (max-width: 1020px) {
  .top img {
    width: 150px;
    height: 150px;
  }
}

.down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3%;
}

@media (max-width: 1020px) {
  .down {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1020px) {
  .down {
    margin-top: 0%;
  }
}

@media (max-width: 1020px) {
  .down img {
    margin-top: 5%;
  }
}

@media (max-width: 1020px) {
  .down img {
    width: 250px;
  }
}

@media (max-width: 1490px) {
  .tab.is-active.tab-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1490px) {
  .tab.is-active.tab-1 img {
    width: 300px;
    margin: auto;
    margin-bottom: 2%;
  }
}

@media (max-width: 400px) {
  .tab.is-active.tab-1 img {
    width: 250px;
  }
}

.tab.is-active {
  max-width: 1380px;
}

.tab.tab-2 img {
  -o-object-fit: contain;
     object-fit: contain;
}

.tab.tab-3 {
  margin-left: 12%;
}

.tab.tab-3 img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 500px;
}

@media (max-width: 1190px) {
  .tab.tab-3 {
    width: 70%;
    margin: auto;
  }
}

@media (max-width: 1170px) {
  .tab.tab-3 {
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 1000px) {
  .tab.tab-3 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 400px;
    margin: auto;
  }
}

@media (max-width: 750px) {
  .tab.tab-3 {
    width: 400px;
  }
}

@media (max-width: 440px) {
  .tab.tab-3 {
    margin-left: 10%;
  }
}

@media (max-width: 440px) {
  .tab.tab-3 {
    width: 300px;
    margin-left: 12%;
  }
}

@media (max-width: 1190px) {
  .tab.tab-3 img {
    width: 400px;
  }
}

@media (max-width: 750px) {
  .tab.tab-3 img {
    width: 300px;
  }
}

@media (max-width: 440px) {
  .tab.tab-3 img {
    width: 150px;
  }
}

@media (max-width: 320px) {
  .tab.tab-3 img {
    width: 100px;
  }
}

.tab.is-active {
  display: block;
}

.tab {
  display: none;
}

.ordering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ordering__head {
  font-family: 'Lazurit Modern';
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 78px;
  letter-spacing: 0.24em;
  color: #FFFFFF;
  margin-top: 5%;
}

@media (max-width: 700px) {
  .ordering .ordering__head {
    font-size: 40px;
  }
}

@media (max-width: 450px) {
  .ordering .ordering__head {
    font-size: 25px;
  }
}

@media (max-width: 300px) {
  .ordering .ordering__head {
    font-size: 17px;
  }
}

.ordering__main {
  background: #000000;
  border: 3px solid #790606;
  border-radius: 28px;
  padding: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3%;
}

@media (max-width: 700px) {
  .ordering .ordering__main {
    padding: 10%;
  }
}

@media (max-width: 420px) {
  .ordering .ordering__main {
    padding: 5%;
  }
}

.ordering__button2 {
  width: 345px;
  height: 82px;
  background: #AB0000;
  border-radius: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.145em;
  color: #FFFFFF;
  margin-top: 15%;
}

@media (max-width: 650px) {
  .ordering__button2 {
    width: 250px;
    height: 50px;
    font-size: 25px;
  }
}

.ordering__button2:hover {
  opacity: 0.7;
}

.ordering__button2:active {
  opacity: 1.3;
}

input {
  width: 438px;
  height: 70px;
  border-bottom: 3px solid #FFFFFF;
  opacity: 0.5;
  background: none;
  color: #FFFFFF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.335em;
}

option {
  color: grey;
  background-color: #000000;
  width: 438px;
  height: 70px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0.335em;
  border-bottom: 3px solid grey;
}

select {
  color: grey;
  background-color: #000000;
  width: 445px;
  height: 70px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0.335em;
  padding-top: 5%;
  border-bottom: 3px solid grey;
}

@media (max-width: 650px) {
  input, option {
    width: 300px;
    height: 50px;
    font-size: 16px;
  }
}

@media (max-width: 420px) {
  input, option {
    width: 200px;
    height: 32px;
    font-size: 14px;
  }
}

@media (max-width: 650px) {
  select {
    width: 307px;
    height: 50px;
    font-size: 16px;
  }
}

@media (max-width: 420px) {
  select {
    width: 207px;
    height: 32px;
    font-size: 14px;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #000000;
  margin-top: 5%;
}

.contacts__head {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  color: #FFFFFF;
  margin-top: 2%;
}

@media (max-width: 560px) {
  .contacts .contacts__head {
    font-size: 20px;
  }
}

.contacts__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1000px;
  width: 100%;
  color: #FFFFFF;
}

@media (max-width: 1050px) {
  .contacts .contacts__main {
    width: 70%;
  }
}

@media (max-width: 770px) {
  .contacts .contacts__main {
    width: 80%;
  }
}

@media (max-width: 560px) {
  .contacts .contacts__logo img {
    width: 100px;
  }
}

@media (max-width: 380px) {
  .contacts .contacts__logo img {
    width: 70px;
  }
}

.contacts__vk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__icon {
  margin-right: 3%;
}

@media (max-width: 560px) {
  .contacts .contacts__icon {
    width: 70%;
  }
}

.contacts__write {
  margin-left: 3%;
}

@media (max-width: 1050px) {
  .contacts .contacts__write {
    display: none;
  }
}

.contacts__inst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__tg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__wh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal {
  display: none;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 50%;
  background-color: #000000;
  border: 3px solid #790606;
  border-radius: 28px;
  margin-left: 23.7%;
  margin-top: 10%;
}

.modal.is-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal__head {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 75px;
  letter-spacing: 0.105em;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 7%;
}

.modal__button2 {
  width: 345px;
  height: 82px;
  background: #AB0000;
  border-radius: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.145em;
  color: #FFFFFF;
  margin-top: 10%;
}

.modal-close {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 90%;
  top: 5%;
}

.menu {
  display: none;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
}

.menu.is-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
}

.menu__nav a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin-top: 30%;
}

.menu__nav a:hover {
  color: red;
}

.menu__button {
  width: 193px;
  color: white;
  height: 48px;
  border-radius: 32px;
  margin-right: 15%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.03em;
  background: #AB0000;
  border-radius: 8px;
  color: #FFFFFF;
  margin: auto;
}

.menu-close {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 90%;
  top: 5%;
}
